<div class="links scroll">
    <a href="{{site.baseurl}}/">About</a>
    <a href="{{site.baseurl}}/publications/">Publications</a>
    <a href="{{site.baseurl}}/news_act/">News & Activities</a>
    <a href="{{site.baseurl}}/experience/">Experience</a>
    <a href="{{site.baseurl}}/teaching/">Teaching</a>
    <a href="{{site.baseurl}}/research/">Research</a>
    <a href="https://github.com/yasasmahima/yasasmahima.github.io/raw/master/assets/cv/Yasas_Mahima___07_02_2023-2.pdf">Curriculum Vitae</a>
    <!-- <a href="{{site.baseurl}}/projects/">Projects</a>
    <a href="{{site.baseurl}}/venue/">Venue</a> -->
    <!-- <a href="{{site.baseurl}}/volunteer/">Voluntary Activities</a> -->
    <!-- <a href="https://www.linkedin.com/in/yasas-mahima/">News</a> -->
</div>
<br>